
PORT="port number"
NODE_ENV=" development | production "

FRONTEND_URL=http://localhost:5173

# Configuration PostgreSQL
DB_HOST=host
DB_PORT=5432
DB_NAME=bdd
DB_USER=user
DB_PASSWORD=password

GEMINI_API_KEY=votre_cle_api_gemini
PORT_API=5000